core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.
cherry-leaves/train/
cherry-leaves/test/
cherry-leaves/validation/
outputs/v1/
outputs/v2/
outputs/v1/mildew_detection_model.h5
outputs/v2/best_model.keras
*.keras
*.pkl

